
body {
    background-color: #f0f0f5;
    margin: 0;
    font-family: sans-serif;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

/* Убираем маркеры списка и подчеркивание ссылок */
ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin: 10px;
}

@font-face {
    font-family: 'movie1';
    src: url('fonts/6.ttf') format('truetype');
}

@font-face {
    font-family: 'movie2';
    src: url('fonts/2.ttf') format('truetype');
}

@font-face {
    font-family: 'movie3';
    src: url('fonts/3.ttf') format('truetype');
}

/* Применение шрифтов для всех элементов в секциях */
.font1 {
    font-family: 'movie1';
    text-align: center;
}

.font2 {
    font-family: 'movie2';
    text-align: justify;
}

.font3 {
    font-family: 'movie3';
    text-align: right;
}
